<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/Project/Student/Login/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/Project/Admin/Login/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>courses</servlet-name>
        <servlet-class>CourseStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>courses</servlet-name>
        <url-pattern>/Project/Admin/Courses/CourseStudentsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>attendance</servlet-name>
        <servlet-class>CourseAttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>attendance</servlet-name>
        <url-pattern>/Project/Admin/Attendance/CourseAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>postGrade</servlet-name>
        <servlet-class>PostGradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postGrade</servlet-name>
        <url-pattern>/Project/Admin/Courses/PostGradeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>postAttendance</servlet-name>
        <servlet-class>PostAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postAttendance</servlet-name>
        <url-pattern>/Project/Admin/Attendance/PostAttendance</url-pattern>
    </servlet-mapping>
</web-app>