body{
    font-family: 'Antic Slab', serif;
    background-color: #F4EAE0;
}
.card{
    background-color: #F4EAE0;
}
nav{
    background-color: #000000;
}
.adminFont{
    font-family: 'Yeseva One', serif;
}